body {
    background-color: grey;
}

.container {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.carousel-caption {
    color: black
}

.navbar-brand {

color: black;
}


